<div class="bottom">
    <div class="bottom1">
        <div class="bfastlink">
            <p><img src="images/tb8.jpg" /></p>
            <p class="jg10"></p>
            <ul>
                <li>
                    <a href="#" class="one">关于我们</a><br />
                    <a href="#">企业介绍</a><br />
                    <a href="#">资质荣誉</a><br />
                    <a href="#">联系我们</a>
                </li>
                <li>
                    <a href="#" class="one">租车服务</a><br />
                    <a href="#">会议租车</a><br />
                    <a href="#">商务租车</a><br />
                    <a href="#">自驾租车</a>
                </li>
                <li>
                    <a href="#" class="one">车型展示</a><br />
                    <a href="#">轿车系列</a><br />
                    <a href="#">商务系列</a><br />
                    <a href="#">越野系列</a>
                </li>
                <li>
                    <a href="#" class="one">新闻动态</a><br />
                    <a href="#">公司新闻</a><br />
                    <a href="#">最新优惠</a><br />
                </li>
            </ul>
        </div>
        <div class="ftelbox">
            <p style="float:right"><img src="images/tb10.jpg" /></p>
            <p class="ftel">
                <span class="tel">028-85163999<br />028-85163777</span>
                <span class="txt">7x24小时全国客服热线，全年无休</span>
            </p>
        </div>
        <div style="clear:both;"></div>
        <p class="jg10"></p>
        <div class="flink">
            <strong>友情链接：</strong><a href="#">成都会议租车</a>&nbsp;&nbsp;<a href="#">成都商务租车</a>&nbsp;&nbsp;成都自驾租车&nbsp;&nbsp;成都会议租车&nbsp;&nbsp;成都会议接待&nbsp;&nbsp;<a href="#">成都会议租车</a>&nbsp;&nbsp;<a href="#">成都商务租车</a>&nbsp;&nbsp;成都自驾租车&nbsp;&nbsp;成都会议租车&nbsp;&nbsp;成都会议接待&nbsp;&nbsp;<a href="#">成都会议租车</a>&nbsp;&nbsp;<a href="#">成都商务租车</a>&nbsp;&nbsp;成都自驾租车&nbsp;&nbsp;成都会议租车&nbsp;&nbsp;成都会议接待&nbsp;&nbsp;<a href="#">成都会议租车</a>&nbsp;&nbsp;<a href="#">成都商务租车</a>&nbsp;&nbsp;成都自驾租车&nbsp;&nbsp;成都会议租车&nbsp;&nbsp;成都会议接待&nbsp;&nbsp;<a href="#">成都会议租车</a>&nbsp;&nbsp;<a href="#">成都商务租车</a>&nbsp;&nbsp;成都自驾租车&nbsp;&nbsp;成都会议租车&nbsp;&nbsp;成都会议接待&nbsp;&nbsp;
        </div>
        <p class="copyr">Copyright © cdhyx.cn Inc.All Rights Reserved.    地址:成都市二环路南四段19号檀香山4栋3单元903室    蜀ICP备08008591号-1  技术支持：成都网站建设</p>
    </div>
</div>
</body>
</html>