<include file="Public/_header" title="廣告-添加"/>
<article class="cl pd-20">
    <form action="__CONTROLLER__/add" method="post"  enctype="multipart/form-data" class="form form-horizontal" id="form-admin-add">
      <input type="hidden" value="{$list.ad_id}" name="ad_id" />
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>广告名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$list.ad_name}" required placeholder="" id="name" name="ad_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>跳转地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text"  class="input-text" autocomplete="off" value="{$list.ad_lonk}" required    name="ad_link">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>广告图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-list-container">
                    <div class="queueList">
                        <ul class="img">
                            <li  style='float: left;margin-left: 10px;margin-top: 30px;'><img width='186px' height='180px' src="{$list.ad_code}"><input name="+name+" value="+info.response+" type='hidden' /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div style="clear: left;margin-top: 30px" class="row cl">
            <center>
                <div id="img" class="btn btn-primary radius">选择图片</div>
            </center>
        </div>

        <!--        <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="radio-box">
                            <input name="sex" type="radio" id="sex-1" checked>
                            <label for="sex-1">男</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="sex-2" name="sex">
                            <label for="sex-2">女</label>
                        </div>
                    </div>
                </div>-->
        <!--<div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>排序：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" required class="input-text" value="9" placeholder="" id="phone" name="sort">(數字越小排名越前)
            </div>
        </div>-->
        <!--       <div class="row cl">
                   <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
                   <div class="formControls col-xs-8 col-sm-9">
                       <input type="text" class="input-text" placeholder="@" name="email" id="email">
                   </div>
               </div>-->
        <!--<div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">廣告類型：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="type" size="1">
                    <option value="2">banner</option>
                    <option value="1">啟動頁</option>
                    <option value="3">掃描頁</option>
                </select>
				</span>
            </div>
        </div>-->
        <!--<div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">备注：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <textarea name="" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="textarealength(this,100)"></textarea>
                        <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
                    </div>
                </div>-->
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" id="ab" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>


<script type="text/javascript">


    $(function() {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#ab").click(function(){
            /*var flag = 0 ;
             $("input").each(function(){
             if($(this).val() == ''){
             flag+= 1;
             return false;
             }
             });
             if(flag){
             layer.msg('请完善信息',{icon: 2, time: 2000});
             return false;
             }*/

            $.ajax({
                // cache: true,
                type: "POST",
                url:"__CONTROLLER__/update",
                data:$('form').serialize(),// 你的formid
                async: false,
                success: function(data) {
                    if(data == 1){
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        layer.msg("修改成功", {icon: 1, time: 2000});
                        //  parent.location.href="__CONTROLLER__";
                        setTimeout(function(){
                            parent.layer.close(index);
                        },2000);
                    }
                    else{
                        layer.msg(data, {icon: 2, time: 2000});
                    }
                },
                error: function(request) {
                    layer.msg('服务器异常', {icon: 2, time: 2000});
                }
            });
        })
    });
    var uploader = new plupload.Uploader({
        runtimes: 'html5,flash,silverlight,html4', //上传插件初始化选用那种方式的优先级顺序
        browse_button: 'img', // 上传按钮
        url: "__CONTROLLER__/upload", //远程上传地址
        flash_swf_url: '__PUBLIC__/plupload/Moxie.swf', //flash文件地址
        silverlight_xap_url: '__PUBLIC__/plupload/Moxie.xap', //silverlight文件地址
        filters: {
            max_file_size: '10mb', //最大上传文件大小（格式100b, 10kb, 10mb, 1gb）
            mime_types:[{
                title: "files", extensions: "jpg,png,jpeg"
            }]
            //允许文件上传类型
        },
        multi_selection: true, //true:ctrl多文件上传, false 单文件上传
        init:{
            //文件上传前
            FilesAdded: function(up, files) {
                /* if ($("#ul_pics").children("li").length > 1) {
                 alert("您上传的图片太多了！");
                 uploader.destroy();
                 } else {
                 var li = '';
                 //遍历文件
                 plupload.each(files, function(file) {
                 li += "<li class='close_pic' id='" + file['id'] + "'>   <div class='progress'><span class='bar'></span><span class='percent'>0%</span></div></li>";
                 });
                 $("#ul_pics").append(li);
                 uploader.start();
                 }*/
                uploader.start();
            },
            //上传中，显示进度条
            /*UploadProgress: function(up, file) {
             var percent = file.percent;
             $("#" + file.id

             ).find('.bar').css({"width": percent + "%"});
             $("#" + file.id

             ).find(".percent").text(percent + "%");
             },*/
            //文件上传成功的时候触发
            FileUploaded: function(up, file, info) {
                console.log(info);
                // var data = eval( info.response );
                var name = 'ad_code';

                var val = "<li  style='float: left;margin-left: 10px;margin-top: 30px;'><img width='186px' height='180px' src="+info.response+"> <input name="+name+" value="+info.response+" type='hidden' /></li>";
                $(".img").html(val);
            },
            //上传出错的时候触发
            Error: function(up, err) {
                layer.msg(err.message);
            }
        }
    });
    uploader.init();
</script>
<!--/请在上方写此页面业务相关的脚本-->
<include file="Public/_footer"  />